In [42]:
import mysql.connector

In [43]:
db = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'sanjeev@75',
    database = 'banking_management_system'

)

cursor = db.cursor()

In [37]:
cursor.execute('select * from user_personal_data;')

In [38]:
cursor.column_names

('customer_id', 'name', 'contact', 'city')

In [45]:
cursor.execute('select * from user_banking_data;')
cursor.fetchall()
cursor.column_names

('customer_id', 'acc_no', 'acc_balance', 'acc_type', 'branch_code')

In [20]:
import math,numpy
cust_id = numpy.random.random_integers(100000,999999)
print(cust_id)

697465

C:\Users\Sanjeev kumar\AppData\Local\Temp\ipykernel_10168\197431696.py:2: DeprecationWarning: This function is deprecated. Please call randint(100000, 999999 + 1) instead
  cust_id = numpy.random.random_integers(100000,999999)

In [23]:
# 1.account opening
name = input('Enter your full name: ')
cont = input('enter your contact no:')
city = input('enter your city:')
acc_type = input("enter account type ")

In [24]:
db.commit()
cursor.execute(f"insert into user_personal_data values ('{cust_id}','{name}','{cont}' ,'{city}' );")

In [25]:
cursor.execute('select * from user_personal_data;')
cursor.fetchall()

[(1234, 'Ayush', '34342323', 'Mumbai'),
 (1235, 'Ankit', '98342323', 'Delhi'),
 (155655, 'sparsh', '8765', 'srem'),
 (697465, 'shalini', '989876', 'ghaji'),
 (764891, '', 'sanjeev', '620630')]

In [26]:
cursor.execute(f"insert into user_banking_data values ('{cust_id}','{cust_id+100}','{cont}' ,'{city}' ,'del2');")
cursor.execute('select * from user_banking_data;')
cursor.fetchall()

[(155655, 155755, Decimal('8765.00'), 'srem', 'del2'),
 (1235, 456781, Decimal('500.00'), 'current', 'del1'),
 (1234, 456789, Decimal('100.00'), 'saving', 'mum2'),
 (697465, 697565, Decimal('989876.00'), 'ghaji', 'del2')]

In [31]:
# deposit found 
acc_no = int(input('Enter your account number: '))
amt = float(input('Enter amount to dispute:'))

cursor.execute(f'call deposit_fund({acc_no},{amt});')
cursor.fetchall()

db.commit()

In [ ]:
acc_no = int(input('Enter your account number: '))
amt = float(input('Enter amount to withdraw:'))

cursor.execute(f'call withdraw_fund({acc_no},{amt});')
cursor.fetchall()

In [44]:
# check balance
acc_no = int(input('Enter your account number: '))

cursor.execute(f'select banking_management_system.check_balance({acc_no})')
cursor.fetchall()

ProgrammingError: 1054 (42S22): Unknown column 'avl_bal' in 'field list'

In [ ]:
# last 5 transcation check

acc_no = int(input('Enter your account number:'))
cursor.execute(f'call `check_last_5_trnx` ({acc_no});')
cursor.fetchall()

In [ ]:
# 6.deleting account 
acc_no = int(input('Enter your account number:'))
cursor.execute(f'delete from user_transcation_data where acc_no =  {acc_no};')
cursor.fetchall()